{% extends 'MylearningApp/index.html'%}

{% block title%}Frequently Asked Questions{% endblock %}
{% block content %}
<section>
    <h2>FAQ</h2>
    <p>
        FAQs

Getting Started

1. Is CoLApp Free.
    -Yes CoLApp is free 

1. How do I sign up for an account?
    - Click on the "Sign Up" button and fill out the registration form.
2. What are the system requirements for using the platform?
    - Our platform is web-based and can be accessed from any device with a modern web browser.

Courses and Groups

1. How do I create a course?
    - Click on the "Create Course" button and follow the prompts.
2. How do I join a group?
    - Search for the group and click on the "Join" button.

Account and Profile

1. How do I change my password?
    - Click on the "Account" dropdown and select "Change Password".
2. How do I update my profile information?
    - Click on the "Account" dropdown and select "Edit Profile".

Technical Issues

1. What do I do if I encounter a technical issue?
    - Contact our support team at [support email].
2. How do I clear my browser cache?
    - Follow these steps: [insert steps].

Payment and Subscription

1. What payment methods do you accept?
    - We accept major credit cards and PayPal.
2. How do I cancel my subscription?
    - Contact our support team at [support email].

Security and Privacy

1. Is my data secure on your platform?
    - Yes, we implement appropriate security measures to protect your data.
2. How do you use my personal information?
    - See our Privacy Policy for details.

Miscellaneous

1. How do I contact support?
    - Email us at [Email] or use the in-platform support chat.
2. What are your terms of service?
    - See our Terms of Service for details.

    </p>
</section>


{% endblock %}